*.log
cred.xml
*.html
*.lo_
.vscode/settings.json
Migrate-SkypeUsersToTeams-agl.ps1
Migrate-SkypeUsersToTeams-bsl.ps1
Migrate-SkypeUsersToTeams-programmed.ps1
Migrate-SkypeUsersToTeams-arc.ps1
Migrate-SkypeUsersToTeams-programmed.ps1
